<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Добавление студента'"></head>

<body>
<div th:replace="layout :: navbar"></div>
<div class="container">
    <form class="form-horizontal" action="#" th:action="@{/student/add}" th:object="${student}" method="post">
        <div th:include="layout :: edit-student" id="edit-student"></div>
        <button class="btn btn-default" type="submit">Добавить</button>
        <input class="btn" type="button" value="Отменить" onclick="history.go(-1);"/>
    </form>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>
</body>
</html>