<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Список студентов'">
</head>

<body>
<div th:replace="layout :: navbar"></div>
<script type="text/javascript" src="/webjars/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/momentjs/2.10.3/min/moment.min.js"></script>
<script type="text/javascript" src="/webjars/momentjs/2.10.3/locale/ru.js"></script>
<script type="text/javascript"
        src="/webjars/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="/webjars/Eonasdan-bootstrap-datetimepicker/4.7.14/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet"
      href="/webjars/Eonasdan-bootstrap-datetimepicker/4.7.14/bootstrap-datetimepicker.min.css"/>

<div class="container">
    <form class="form-horizontal" action="#" th:action="@{/student/history}" method="post">
        <div class='col-sm-6'>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="datetime">Укажите дату:</label>

                <div class='input-group date' id='datetimepicker'>
                    <input id="datetime" type='text' class="form-control" th:value="${datePicker}" name="datePicker"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                </div>
            </div>
        </div>
        <button id="button" type="submit" class="btn btn-default">Показать</button>
        <script th:inline="javascript">
            $(function () {
                $('#datetimepicker').datetimepicker({
                    locale: 'ru'
                });
            });
        </script>
    </form>
    <div class="table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Группа</th>
                <th>Почта</th>
                <th>Телефон</th>
                <th>ВУЗ</th>
                <th>Специальность</th>
                <th>Курс</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="student : ${students}">
                <td data-th-text="|${student.firstName} ${student.middleName} ${student.lastName}|"></td>
                <td data-th-text="${student.type}"></td>
                <td data-th-text="${student.email}"></td>
                <td data-th-text="${student.phone}"></td>
                <td data-th-text="${student.university}"></td>
                <td data-th-text="${student.specialty}"></td>
                <td data-th-text="${student.course}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>