<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>

<body>
<div th:replace="layout :: navbar"/>

<div class="container">
    <div class="starter-template">
        <p class="lead" th:text="${greeting}">(greeting)</p>
        <p>The current time is <span th:text="${currentTime}">(time)</span></p>
    </div>
</div>
<div class = "container">
    <div class = "table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Почта</th>
                <th>Телефон</th>
                <th>ВУЗ</th>
                <th>Специальность</th>
                <th>Курс</th>
                <th>Группа</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="student : ${students}">
                <td data-th-text="|${student.firstName} ${student.middleName} ${student.lastName}|"></td>
                <td data-th-text="${student.email}"></td>
                <td data-th-text="${student.phone}"></td>
                <td data-th-text="${student.university}"></td>
                <td data-th-text="${student.specialty}"></td>
                <td data-th-text="${student.course}"></td>
                <td data-th-text="${student.group}"></td>
                <td><a data-th-href="@{/delete/student(id=${student.id})}">delete</a> |
                    <a data-th-href="@{/edit/student(id=${student.id})}">edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="#" data-th-href="@{/add/student}">
        <button type="button" class="btn btn-default">
            Add
        </button>
    </a>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>