<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <meta charset="UTF-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title th:text="${title}">(title)</title>

    <link th:href="@{/webjars/bootstrap/3.0.3/css/bootstrap.css}" rel="stylesheet"></link>
    <link th:href="@{/css/starter.css}" rel="stylesheet"></link>
</head>

<body>
<div th:fragment="navbar" class="navbar  navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#" data-th-href="@{/student/list}">Список</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</div>

<!--
    <div class="form-group">
      <label class="col-sm-3 control-label">Focused</label>
      <div class="col-sm-10">
        <input class="form-control" id="focusedInput" type="text" value="Click to focus...">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-3 control-label">Disabled</label>
      <div class="col-sm-10">
        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
      </div>
    </div>
    <fieldset disabled>
      <div class="form-group">
        <label for="disabledTextInput" class="col-sm-3 control-label">Disabled input and select list (Fieldset disabled)</label>
        <div class="col-sm-10">
          <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
        </div>
      </div>
      <div class="form-group">
        <label for="disabledSelect" class="col-sm-3 control-label"></label>
        <div class="col-sm-10">
          <select id="disabledSelect" class="form-control">
            <option>Disabled select</option>
          </select>
        </div>
      </div>
    </fieldset>
    <div class="form-group has-success has-feedback">
      <label class="col-sm-3 control-label" for="inputSuccess">Input with success and glyphicon</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputSuccess">
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>
    </div>
    <div class="form-group has-warning has-feedback">
      <label class="col-sm-3 control-label" for="inputWarning">Input with warning and glyphicon</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputWarning">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
      </div>
    </div>
    <div class="form-group has-error has-feedback">
      <label class="col-sm-3 control-label" for="inputError">Input with error and glyphicon</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputError">
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
      </div>
    </div>

-->

<div th:fragment="edit-student" id="edit-student">
    <div class="form-group">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="fName">Имя:</label>

            <div class="col-sm-6">
                <input id="fName" class="form-control" autofocus="autofocus" type="text" th:field="*{firstName}"/>
            </div>
            <div class="col-sm-4" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="mName">Отчество:</label>

            <div class="col-sm-6">
                <input id="mName" class="form-control" type="text" th:field="*{middleName}"/>
            </div>
            <div class="col-sm-4" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}">Middle Name
                Error
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="lName">Фамилия:</label>

            <div class="col-sm-6">
                <input id="lName" class="form-control" type="text" th:field="*{lastName}"/>
            </div>
            <div class="col-sm-4" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="typeOfEdu">Вид обучения:</label>

            <div class="col-sm-6">
                <select id="typeOfEdu" class="form-control" th:field="*{type}">
                    <option th:value="Dev">Dev</option>
                    <option th:value="QA">QA</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="email">Email:</label>

            <div class="col-sm-6">
                <input id="email" class="form-control" required="required" type="text" th:field="*{email}"/>
            </div>
            <div class="col-sm-4" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="phone">Телефон:</label>

            <div class="col-sm-6">
                <input id="phone" class="form-control" type="tel" required="required" pattern="(\+?\d[- .]*){6,13}"
                       title="Международный, государственный или местный телефонный номер" th:field="*{phone}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="univer">Университет:</label>

            <div class="col-sm-6">
                <select id="univer" class="form-control" th:field="*{university}">
                    <option th:value="СГУ">СГУ</option>
                    <option th:value="СГТУ">СГТУ</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="special">Спциальность:</label>

            <div class="col-sm-6">
                <input id="special" class="form-control" type="text" th:field="*{specialty}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="course">Курс:</label>

            <div class="col-sm-6">
                <input id="course" class="form-control" type="text" th:field="*{course}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="group">Группа:</label>

            <div class="col-sm-6">
                <input id="group" class="form-control" type="text" th:field="*{group}"/>
            </div>
        </div>
    </div>
</div>

<div th:fragment="footer" id="footer">
    <div class="container">
        <p class="muted credit">Учебный центр</p>
    </div>
    <script th:src="@{webjars/jquery/2.0.3/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/3.0.3/js/bootstrap.min.js}"></script>
</div>

</body>
</html>